@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'lato';
    src: url('../public/fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'revalia';
    src: url('../public/fonts/Revalia-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helios-antique';
    src: url('../public/fonts/Helios-Antique-Helios-Antique-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helios-antique';
    src: url('../public/fonts/Helios-Antique-Helios-Antique-Semi-Bold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'helios-antique';
    src: url('../public/fonts/Helios-Antique-Helios-Antique-Medium-Italic.otf');
    font-weight: normal;
    font-style: italic;
}
